@font-face {
    font-family: "customFront";
    src: url('./汉仪字酷堂长林体.ttf') format('truetype'),
        /* src: url('~@/assets/front/1.woff2') format('woff2'),
            url('~@/assets/front/1.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap; */
}

@font-face {
    font-family: "customFront2";
    src: url('./font.ttf') format('truetype'),
        /* src: url('~@/assets/front/1.woff2') format('woff2'),
            url('~@/assets/front/1.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap; */
}